/* Setting variables in order to calculate sizes below */

:root {
    --height: 100vh;
    --containerwidth: 1000px;
    --footerheight: 80px;
    --navbarheight: 100px;
    --contentheight: var(--height) - var(--footerheight) - var(--navbarheight);
}

/* Main settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--containerwidth);
    margin: 0 auto;

}

.flexcenter {
    display: flex;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    width: 100%;
    min-height: var(--navbarheight);
    background: chocolate;
}

.logo {
    justify-content: flex-start;
    height: var(--navbarheight);
    width: 80%;
    z-index: 25;
}

.logo img {
    width: 200px;
    padding: 0 0 0 20px;
}

#burger,
#burger + label {
    display: none;
}

.menu {
    justify-content: flex-end;
    list-style-type: none;
    background: chocolate;
    padding: 0 20px 0 0;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu > li:not(:last-child) > a {
    padding: 0 20px;
    color: wheat;
    height: var(--navbarheight);
    display: flex;
    align-items: center;
}

.menu > li:not(:last-child) > a.selected {
    border-bottom: 10px solid wheat;
    border-top: 10px solid chocolate;
}

.menu > li:not(:last-child) > a:hover {
    background-color: wheat;
    color: chocolate;
    transition: all 0.3s ease-out;
}

.menu > li:not(:last-child) > a.selected:hover {
    background-color: inherit;
    color: wheat;
}

.menu > .en > a {
    display: flex;
    justify-content: center;
    border: 2px solid wheat;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin: 0 0 0 20px;
    background-image: url(img/ukm.svg);
    background-position: center;
    background-size: 59px 40px;
    opacity: .5;
    transition: opacity 0.3s ease-out;
}

.menu > .en > a:hover {
    opacity: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: wheat;
    min-height: calc(var(--contentheight));
    padding: 20px;
}


.footer {
    height: var(--footerheight);
    font-size: 16px;
    max-width: 100%;
    color: white;
    background: black;
    padding: 20px;
}

@media (max-width: 768px) {

    .logo {
        justify-content: flex-end;
    }

    .logo img {
        padding: 0 20px 0 0;
    }

    #burger,
    #burger + label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: var(--navbarheight);
    }

    #burger {
        position: relative;
        opacity: 0;
        width: 30px;
        z-index: 25;
        cursor: pointer;
        margin: 0 0 0 20px;
        background-color: brown;
    }

    #burger + label {
        position: absolute;
        font-size: 30px;
        background: chocolate;
        width: 20%;
        padding: 0 0 0 20px;
    }

    #burger:checked + label:before {
        width: 30px;
        height: 30px;
        content: "✖";
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #burger:checked ~ .menu,
    #burger:not(:checked) ~ .menu {
        transition: all 0.2s ease-out;
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    #burger:not(:checked) ~ .menu {
        font-size: 4px;
        padding: 0 0 0 20px;
        width: 100%;
        margin: 0;
        height: 100px;
        align-items: baseline;
    }

    #burger:checked ~ .menu {
        width: 100%;
        background: chocolate;
        height: 240px;
        padding: 0;
        margin: 340px 0 0 0;
        width: 100%;
    }

    #burger:not(:checked) ~ .menu > li > a {
        text-align: left;
        border: 0;
        height: 5px;
        padding: 0;
        margin: 0;
        width: 30px;
        background-color: wheat;
        transition: all 0.2s ease-out;
    }

    #burger:not(:checked) ~ .menu > li:nth-child(n + 4) {
        display: none;
    }

    #burger:not(:checked) ~ .menu > li {
        text-align: left;
        border: 0;
        height: 5px;
        padding: 5px 0;
        margin: 0;
        background-color: transparent;
        transition: all 0.2s ease-out;
    }

    #burger:checked ~ .menu > li:not(:last-child) > a,
    #burger:checked ~ .menu > li:not(:last-child) {
        text-align: left;
        height: 60px;
        width: 100%;
    }

    .menu > li:not(:last-child) > a.selected {
        border: 0;
    }

    .menu > .en {
        display: none;
    }

}
