/* Setting variables in order to calculate sizes below */

:root {
    --height: 100vh;
    --containerwidth: 1000px;
    --footerheight: 80px;
    --navbarheight: 100px;

    /* navbar background color */
    --navbarcolor: chocolate;

    /* navbar font and button color */
    --navbaritemcolor: wheat;
}

/* Main settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--containerwidth);
    margin: 0 auto;
}

.flexcenter {
    display: flex;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    width: 100%;
    min-height: var(--navbarheight);
    background: var(--navbarcolor);
}

.logo {
    justify-content: flex-start;
    height: var(--navbarheight);
    width: 80%;
    z-index: 25;
}

.logo img {
    width: 200px;
    padding: 0 0 0 20px;
}

/* hiding the burger in desktop layout */

#burger,
#burger + label {
    display: none;
}

/* stylizing the menu in desktop layout */

.menu {
    justify-content: flex-end;
    list-style-type: none;
    background: var(--navbarcolor);
    padding: 0 20px 0 0;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu > li:not(:last-child) > a {
    padding: 0 20px;
    color: var(--navbaritemcolor);
    height: var(--navbarheight);
    display: flex;
    align-items: center;
}

.menu > li:not(:last-child) > a.selected {
    border-bottom: 10px solid var(--navbaritemcolor);
    border-top: 10px solid var(--navbarcolor);
}

.menu > li:not(:last-child) > a:hover {
    background-color: var(--navbaritemcolor);
    color: var(--navbarcolor);
    transition: all 0.3s ease-out;
}

.menu > li:not(.en) > a.selected:hover {
    background-color: inherit;
    color: var(--navbaritemcolor);
}

.menu > .en > a {
    display: flex;
    justify-content: center;
    border: 2px solid var(--navbaritemcolor);
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin: 0 0 0 20px;
    background-image: url(img/ukm.svg);
    background-position: center;
    background-size: 59px 40px;
    opacity: .5;
    transition: opacity 0.3s ease-out;
}

.menu > .en > a:hover {
    opacity: 1;
}

/* stylyzing the content block */

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--navbaritemcolor);
    min-height: calc(var(--height) - var(--footerheight) - var(--navbarheight));
    padding: 20px;
}

/* stylyzing the footer block */

.footer {
    height: var(--footerheight);
    font-size: 16px;
    max-width: 100%;
    color: white;
    background: black;
    padding: 20px;
}

/* changing settings for mobile layout */

@media (max-width: 768px) {

    /* Moving the logo to the right side */

    .logo {
        justify-content: flex-end;
    }

    /* Changing padding settings so as not to let the logo stick the right edge */

    .logo img {
        padding: 0 20px 0 0;
    }

    /* Showing the burger */

    #burger,
    #burger + label {
        display: flex;
        align-items: center;
        height: var(--navbarheight);
        padding: 0 0 0 20px;
    }

    /* Stylizing the burger */

    #burger {
        position: relative;
        opacity: 0;
        width: 20%;
        z-index: 25;
        cursor: pointer;
    }

    #burger + label {
        position: absolute;
        font-size: 30px;
        background: var(--navbarcolor);
        width: 20%;
        /* deleted 'z-index: 15;' as it must not lay higher than the elements inside the <label> */
    }

    #burger + label > img,
    #burger + label > span {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 10px rgba(0, 0, 0, 0.1);
        color: var(--navbaritemcolor);
        transition: 0.6s;
        z-index: 2;
    }

    #burger:not(:checked) + label > img {
        opacity: 0;
        transform: scale(0.01, 0.01);
    }

    #burger:checked + label > img {
        transition-delay: 0.4s;
    }

    #burger:checked + label > span {
        opacity: 0;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 20px 360px rgba(0, 0, 0, 0.1);
    }

    .menu {
        position: absolute;
        align-items: baseline;
        flex-direction: column;
        width: 100%;
        transition: 0.6s;
        padding: 0;
    }

    /* Stylizing the menu */

    #burger:checked ~ .menu {
        top: 100px;
        height: 240px;
        box-shadow: 0 240px 90px 120px rgba(0, 0, 0, 0.8);
    }

    #burger:not(:checked) ~ .menu {
        top: 24px;
        height: 70px;
        padding: 0 0 0 20px;
    }

    #burger::checked ~ .menu > li:nth-child(n + 4) {}

    #burger ~ .menu > li > a,
    #burger ~ .menu > li {
        text-align: left;
        height: 60px;
        width: 100%;
        transition: 0.6s;
        border: 0; /* to remove stylizing the selected menu item */
    }

    #burger:not(:checked) ~ .menu > li {
        padding: 5px 0;
        height: 5px;
        width: 30px;
        background-color: transparent;
    }

    #burger:not(:checked) ~ .menu > li > a {
        background-color: transparent;
        padding: 5px 0;
        height: 5px;
        width: 30px;
        font-size: 5px;
        color: transparent;
    }

    .menu > .en {
        display: none;
    }

}
