/* Setting variables in order to calculate sizes below */

:root {
    --containerwidth: 1000px;
    --footerheight: 80px;
    --navbarheight: 100px;
    --mobilemenuitemheight: 60px;
    --speed: .3s;

    /* Navbar background color */
    --navbarcolor: chocolate;

    /* Navbar font and button color */
    --navbaritemcolor: wheat;
}

/* Mutual settings for the both, mobile and desktop layouts */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main,
footer,
header {
    display: flex;
    width: 100%;
    max-width: var(--containerwidth);
}

header {
    align-items: center;
    justify-content: space-between;
    min-height: var(--navbarheight);
    background: var(--navbarcolor);
}

main {
    flex-direction: column;
    background: var(--navbaritemcolor);
    padding: 20px;
    flex: 1;
}

footer {
    min-height: var(--footerheight);
    color: white;
    background: black;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    height: var(--navbarheight);
    z-index: 7;
}

.logo > img {
    width: 200px;
}

/* Stylizing the menu */

.menu {
    display: flex;
    list-style-type: none;
    background: var(--navbarcolor);
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.menu > li > a {
    padding: 0 20px;
    color: var(--navbaritemcolor);
    display: flex;
    align-items: center;
}

.menu > li > a:hover {
    background: var(--navbaritemcolor);
    color: var(--navbarcolor);
    transition: all var(--speed) ease-out;
}

/* Settings only for the desktop layout */

@media screen and (min-width: 768px) {

    header {
        padding: 0 20px;
    }

    /* Stylizing the menu */

    .menu {
        justify-content: flex-end;
    }

    .menu > li > a {
        height: var(--navbarheight);
    }

    /* Stylizing the selected menu item */

    .menu > li > a.selected {
        background: var(--navbaritemcolor);
        color: var(--navbarcolor);
    }

    /* Hiding the burger */

    #burger,
    #burger + label {
        display: none;
    }

    /* Stylizing the language switcher */

    .en > a {
        display: flex;
        justify-content: center;
        border: 2px solid var(--navbaritemcolor);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background: url(img/ukm.svg) no-repeat;
        background-position: center;
        background-size: 59px 40px;
        opacity: .5;
        transition: opacity var(--speed) ease-out;
    }

    .en > a:hover {
        opacity: 1;
    }
}

/* Settings only for the mobile layout */

@media screen and (max-width: 768px) {

    /* Moving the logo to the right side */

    .logo {
        width: 100%;
        justify-content: flex-end;
        position: absolute;
        align-items: baseline;
        top: 30px;
        padding-right: 20px;
        height: 40px;
    }

    /* Hiding the language switcher */

    .en {
        display: none;
    }

    /* Showing the burger */

    #burger,
    #burger + label {
        position: absolute;
        display: flex;
        align-items: center;
        height: var(--navbarheight);
        top: 0;
    }

    /* Stylizing the burger */

    #burger {
        opacity: 0;
        width: 20%;
        z-index: 9;
        cursor: pointer;
    }

    #burger + label {
        font-size: 30px;
        width: 20%;
    }

    #burger + label > img,
    #burger + label > span {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 10px rgba(0, 0, 0, 0.1);
        color: var(--navbaritemcolor);
        transition: var(--speed);
        z-index: 2;
        left: 20px;
    }

    #burger:not(:checked) + label > img {
        opacity: 0;
        transform: scale(0.01, 0.01);
    }

    #burger:checked + label > img {
        transition-delay: var(--speed);
    }

    #burger:checked + label > span {
        opacity: 0;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 20px 360px rgba(0, 0, 0, 0.1);
    }

    /* Stylizing the menu */

    .menu {
        align-items: baseline;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        transition: var(--speed);
        z-index: 5;
    }

    #burger:checked ~ .menu {
        height: calc(var(--mobilemenuitemheight)*4);
        margin-top: var(--navbarheight);
        box-shadow: 0 240px 90px 120px rgba(0, 0, 0, 0.8);
    }

    #burger:not(:checked) ~ .menu {
        height: var(--navbarheight);
        padding: 35px 0 0 25px;
        opacity: 0;
    }

    .menu > li > a,
    .menu > li {
        height: var(--mobilemenuitemheight);
        width: 100%;
        transition: var(--speed);
    }

    #burger:not(:checked) ~ .menu > li > a,
    #burger:not(:checked) ~ .menu > li {
        padding: 5px 0;
        height: 5px;
        width: 22px;
    }

    #burger:not(:checked) ~ .menu > li > a {
        font-size: 5px;
    }
}
